
html, body { 
    margin: 0;
    padding: 0;
}

#field {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid #000;
    position: relative;
}

.player {
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
    left: 10px;
    
    
}

#one {
    top: 10px;
    
}

